*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}


h1 {
    border: 2px solid red;
    margin: 10px;
    padding: 4px;
    text-align: right;
}

button {
    background-color: gray;
    color: purple;
    padding: 18px;
    font-size: 20px;
}